@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%; /* Fundo Preto Puro */
    --foreground: 0 0% 100%; /* Texto Branco */
    --card: 0 0% 2%; /* Card Preto com brilho mínimo */
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 24 100% 50%; /* Laranja Neon */
    --primary-foreground: 0 0% 0%; /* Texto Preto no botão laranja */
    --secondary: 0 0% 8%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 8%;
    --muted-foreground: 0 0% 65%;
    --accent: 24 100% 10%;
    --accent-foreground: 24 100% 50%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;
    --border: 24 100% 15%; /* Bordas Laranja Escuro/Marrom em vez de Cinza */
    --input: 24 100% 15%;
    --ring: 24 100% 50%; /* Foco do input em Neon */
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-black text-white selection:bg-orange-500/30;
  }
}